<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            padding:0;margin:0;
        }
        .notice{
            width:100vw;
            height:100vh;
            background: url("/static/image/camera.png") no-repeat center /cover;
        }
    </style>
</head>
<body>
 <div class="notice">

 </div>
<script>

    function speak(text, callback) {
        var speech = window.speechSynthesis;
        var speechset = new SpeechSynthesisUtterance()
        speechset.onend = function (ev) {
            if(callback){
                callback()
            }
        }
        speechset.text = text
        speech.speak(speechset)
    }


    speak("存储成功",function () {
        location.href="/"
    })



</script>
</body>
</html>